<div class="_container mt-5 pb-5">
  <h1 class="my-5 mb-4 section-title">
    {{ authService.getUser()?.role === "ADMIN" ? "Todas as" : "Minhas" }}
    Consultas
  </h1>
  <div class="greetings">
    <p>
      Olá <strong>{{ authService.getUser()?.name || "Visitante" }}</strong
      >{{ isAdmin ? " (admin)," : "," }}
    </p>
    <p>
      {{
        isAdmin
          ? 'Aqui você poderá visualizar consultas de todos os usuários, alterar status ouexcluir as "Agendadas".'
          : 'Aqui você poderá visualizar suas consultas, alterar informações ou cancelar as "Agendadas".'
      }}
    </p>
  </div>

  <!-- Status filter -->
  <div class="apptms-filters">
    @for(status of statusList; track status) {
    <button
      mat-button
      color="primary"
      aria-label="Status consulta"
      class="apptm-filter-btn"
      [class.active]="currentStatusFilter === status"
      (click)="filterAppointmentsByStatus(status)"
    >
      {{ statusDict[status].title }}
    </button>
    }
  </div>

  @for (apptm of filteredAppointments; track apptm.id) {
  <div class="apptm-card">
    <!-- Date circle -->
    <div class="apptm-date">
      <span>{{ dateParser.getDayMonthShort(apptm.date) }}</span>
      <span>{{ dateParser.getYear(apptm.date) }}</span>
    </div>

    <!-- Infos -->
    <div class="apptm-info">
      <!-- User name -->
      @if(apptm?.User) {
      <div class="apptm-user">{{ apptm.User!.name }}</div>
      }
      <span class="apptm-hour">{{ apptm.time }}</span>
      <span class="apptm-doctor">Dr. {{ apptm.doctor }}</span>
      <span
        class="apptm-obs truncate"
        #spanRef
        title="{{ apptm.obs }}"
        (click)="spanRef.classList.toggle('truncate')"
        >{{ apptm.obs }}</span
      >
      <span class="apptm-specialty">{{ apptm.specialty }}</span>
    </div>

    <mat-card-actions class="flex-center">
      <!-- Edit button -->
      <button
        mat-mini-fab
        color="primary"
        class="flex-center edit-btn"
        [disabled]="!permissions.canEnterEditPage(apptm)"
        (click)="editAppointment(apptm.id!)"
      >
        <i class="fa-solid fa-pen"></i>
      </button>

      @if(isAdmin) {

      <!-- Delete button -->
      <button
        mat-mini-fab
        color=""
        class="flex-center delete-btn"
        [disabled]="!permissions.canDelete(apptm)"
        (click)="openDeleteConfirmationDialog(apptm.id!)"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
      }

      <!-- Status badge -->
      <div
        class="apptm-status-badge"
        [style.background-color]="statusDict[apptm.status].color"
      >
        {{ statusDict[apptm.status].title }}
      </div>
    </mat-card-actions>
  </div>

  } @empty {
  <div class="col-12 text-center mt-5">Nenhuma consulta encontrada</div>
  }
</div>
