<div class="_container mt-5 pb-5">
  <h1 class="my-5 section-title">
    {{ authService.getUser()?.role === "ADMIN" ? "Todas as" : "Minhas" }}
    Consultas
  </h1>

  @for (apptm of appointments; track apptm.id) {
  <!-- Date circle -->
  <div class="apptm-card">
    <div class="apptm-date">
      <span>{{ dateParser.getDayMonthShort(apptm.date) }}</span>
      <span>{{ dateParser.getYear(apptm.date) }}</span>
    </div>

    <!-- Infos -->
    <div class="apptm-info">
      <span class="apptm-hour">{{ apptm.time }}</span>
      <span class="apptm-doctor">Dr. {{ apptm.doctor }}</span>
      <span
        class="apptm-obs truncate"
        #spanRef
        title="{{ apptm.obs }}"
        (click)="spanRef.classList.toggle('truncate')"
        >{{ apptm.obs }}</span
      >
      <span class="apptm-specialty">{{ apptm.specialty }}</span>
    </div>

    <mat-card-actions class="flex-center">
      <!-- Edit button -->
      <button
        mat-mini-fab
        color="primary"
        class="flex-center"
        [disabled]="!permissions.canEnterEditPage(apptm)"
        (click)="editAppointment(apptm.id!)"
      >
        <i class="fa-solid fa-pen"></i>
      </button>

      @if(authService.isAdmin()) {

      <!-- Delete button -->
      <button
        mat-mini-fab
        color=""
        class="flex-center"
        [disabled]="!permissions.canDelete(apptm)"
        (click)="openDeleteConfirmationDialog(apptm.id!)"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
      }

      <!-- Status badge -->
      <div
        class="apptm-status-badge"
        [style.background-color]="statusDict[apptm.status].color"
      >
        {{ statusDict[apptm.status].title }}
      </div>
    </mat-card-actions>
  </div>

  } @empty {
  <div class="col-12 text-center">Nenhuma consulta cadastrada</div>
  }
</div>
