<mat-toolbar class="">
  <div class="container d-flex justify-content-between">
    <button
      mat-button
      color="primary"
      routerLink="/"
      class="header-logo flex-center"
    >
      <i class="fa-solid fa-laptop-medical"></i>
      <h1 class="fw-bold">Consult Med</h1>
    </button>
    @if(authService.checkAuthStatus() | async) {
    <div>
      <button
        mat-button
        aria-label="Botao cadastrar consulta"
        routerLink="/appointments/create"
        class="me-3"
      >
        Agendar
      </button>
      <button
        mat-button
        aria-label="Botao mostrar contultas"
        routerLink="/appointments"
        class="me-5"
      >
        Consultas
      </button>

      <button
        mat-button
        aria-label="Botao logout"
        (click)="authService.logout()"
      >
        Logout
      </button>
    </div>
    } @else {

    <button
      mat-flat-button
      color="primary"
      class=""
      aria-label="Botao login"
      routerLink="/auth/login"
    >
      Login
    </button>
    }
  </div>
</mat-toolbar>
