<mat-toolbar>
  @if(authService.checkAuthStatus() | async) {
  <button mat-button routerLink="/"><h1>Consult Med</h1></button>
  <span class="spacer"></span>
  <button
    mat-button
    aria-label="Botao cadastrar consulta"
    routerLink="/appointments/create"
    class="me-3"
  >
    Agendar
  </button>
  <button
    mat-button
    aria-label="Botao mostrar contultas"
    routerLink="/appointments"
    class="me-5"
  >
    Consultas
  </button>

  <p>Olá {{ authService.user$ }}</p>

  <button mat-button aria-label="Botao logout" (click)="handleLogout()">
    Logout
  </button>
  } @else {

  <button
    color="primary"
    mat-flat-button
    aria-label="Botao login"
    routerLink="/auth/login"
  >
    Login
  </button>
  }
</mat-toolbar>
