.mat-toolbar {
  height: fit-content;
  padding: 0;

  & > div {
    padding: 1rem;
  }
}

.header-logo {
  h1 {
    display: inline-block;
  }

  i {
    font-size: 1.3rem;
  }

  @media (max-width: 400px) {
    h1 {
      display: none;
    }
  }
}

button {
  font-weight: 600;

  &:hover {
    background-color: var(--primary);
    color: white;
    transition: background-color 0.5s, color 0.5s;
  }

  @media (max-width: 540px) {
    width: fit-content;
    min-width: fit-content;

    i.fa-solid {
      font-size: 1.2rem;
    }

    .btn-title {
      display: none;
    }
  }
}
