<mat-toolbar class="">
  <div class="_container d-flex justify-content-between">
    <button
      mat-button
      color="primary"
      routerLink="/"
      class="header-logo flex-center"
    >
      <i class="fa-solid fa-laptop-medical"></i>
      <h1 class="fw-bold">Consult Med</h1>
    </button>
    @if(authService.checkAuthStatus() | async) {
    <div class="flex-center gap-2">
      <button
        mat-button
        aria-label="Botao cadastrar consulta"
        routerLink="/appointments/create"
        class=""
      >
        <i class="fa-solid fa-plus"></i>
        <span class="btn-title"> Agendar </span>
      </button>
      <button
        mat-button
        aria-label="Botao mostrar contultas"
        routerLink="/appointments"
        class="me-3"
      >
        <i class="fa-solid fa-list-ul"></i>
        <span class="btn-title">Consultas</span>
      </button>

      <button
        mat-button
        aria-label="Botao logout"
        (click)="authService.logout()"
      >
        <span class="btn-title">Sair</span>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
    } @else {

    <button
      mat-button
      color="primary"
      class=""
      aria-label="Botao login"
      routerLink="/auth/login"
    >
      <span class="btn-title">Login</span>
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
    </button>
    }
  </div>
</mat-toolbar>
