:root {
  --primary: rgb(103, 58, 183);
}

$primary: var(--primary) !default;

.text-primary {
  color: $primary !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}

// show time input timepicker icon
input[type="time"]::-webkit-calendar-picker-indicator {
  display: block !important;
}

._form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 1rem auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
