:root {
  --primary: rgb(103, 58, 183);
}

$primary: var(--primary) !default;

.text-primary {
  color: $primary !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}

h1 {
  margin-bottom: 0 !important;
}

// show time input timepicker icon
input[type="time"]::-webkit-calendar-picker-indicator {
  display: block !important;
  position: absolute;
  top: 0.5rem;
  right: -0.7rem;
  scale: 1.25;
  opacity: 0.75;
  padding: 0.7rem;
  border-radius: 999px;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }
}

._container {
  width: 100%;
  max-width: 678px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

._form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  gap: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-title {
  color: var(--primary);
  text-align: center;
  font-weight: 500 !important;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

i.fa-solid,
i.fa-regular,
.mdc-button__label {
  @extend .flex-center;
  display: inline-flex;
  gap: 0.4rem;
}

button:disabled,
button[disabled] {
  cursor: not-allowed !important;
  pointer-events: auto !important;
  box-shadow: none !important;
}
