<div class="container">
  <h1 class="mt-5 text-center">Cadastrar Usuário</h1>
  <div class="_form">
    <form [formGroup]="form" (ngSubmit)="register()" class="mx-auto">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Perfil</mat-label>
        <select matNativeControl formControlName="role" required>
          @for (role of userRoles; track role) {
          <option value="{{ role }}">{{ role }}</option>
          }
        </select>
      </mat-form-field>

      <div class="d-flex justify-content-end">
        <button mat-stroked-button color="warn" class="me-3" type="reset">
          Limpar
        </button>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>
