<div class="_container mt-5">
  <div class="_form">
    <app-hero-image></app-hero-image>
    <h1 class="section-title m-0">Cadastrar Usuário</h1>
    <form [formGroup]="form" (ngSubmit)="register()" class="mx-auto">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Perfil</mat-label>
        <select matNativeControl formControlName="role" required>
          @for (role of userRoles; track role) {
          <option value="{{ role }}">{{ role }}</option>
          }
        </select>
      </mat-form-field>

      <div class="d-flex justify-content-end">
        <button mat-stroked-button color="" class="me-3" type="reset">
          Limpar
        </button>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
          Registrar
        </button>
      </div>

      <div class="d-flex flex-column justify-content-end text-center mt-5">
        <p class="mb-1">Já possui conta?</p>
        <button mat-button class="" routerLink="/auth/login" type="button">
          <span class="fs-5 text-decoration-underline text-primary"
            >Fazer Login</span
          >
        </button>
      </div>
    </form>
  </div>
</div>
